.header {
  position: relative;
  z-index: 1;

  // Hamburger open styles
  &.open {
    .overlay {
      visibility: visible;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }

    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: $darkBlue;
    background: linear-gradient($darkBlue, transparent);
  }

  nav {
    position: relative;
    background-color: $white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375;
    }
  }

  &__toggle {
    // For Mobile
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 150ms ease-in-out;
      transform-origin: 3px center;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    background: $white;
    padding: 1.625rem;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.5rem;

    a {
      color: $darkBlue;
      padding: 0.625rem;
      display: block;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: 300ms ease-in-out opacity;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

// Overlay
